.audio-controls {
  display: block;
  padding: .2rem;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #FFFFFF;
  border-top: 1px solid #E0E0E0;
}

table.audios-list tr.active {
  background-color: #F5F5F5;
}
